*{
	margin:0;
	padding:0;
	font-family:"Rufina", serif;
}

 
.center3{
display:flex;
justify-content:center;
align-items:center;
}
.center-column{
display:flex;
justify-content:center;
align-items:center;
text-align:center;
flex-direction:column;
}
.space-between{
display:flex;
justify-content:space-between;
align-items:center;
}

.zLink{
	text-decoration:none;
	color:#ffffff;
}

.Z-Link{
	text-decoration:none;
	color:#ffc0cb;
}

#okvir{
	animation:1s fade ease-in-out;
}
@keyframes fade {
  0%{opacity:0;}
  100%{opacity:1;}
}

#navigacija{
	position:fixed;
	z-index:5;
	width:100%;
	color:white;
	background-color:black;
	height:48px;
	text-transform:uppercase;
	
}

#nav-logo{
	margin:0px 20px;
}

#nav-logo img{
	width:50px;
}

#nav-logo h2{
	font-size:25px;
	color:#ffc0cb;
	margin-left:0;
}

#nav-list{
	position:relative;
	list-style-type:none;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:40px;
	padding:0px 30px;
	font-size:17px;
}

#nav-list li a:hover{
	border-bottom:3px solid #f2b8bc;
	transition:all .3s;
}


#bg-1{
	position:relative;
	top:48px;
	background-size:cover;
	height:683px;
	width:100%;
	background-image:url("../img/lale1.jpg");
}

#sadrzaj{
	position:absolute;
	z-index:2;
	color:#ffffff;
	width:700px;
	height:300px;
}

#sadrzaj h1{
	font-size:45px;
	font-weight:bold;
	letter-spacing:0px;
}

#sadrzaj p{
	font-size:20px;
	padding:15px 25px;
}



#overlay{
	position:absolute;
	z-index:1;
	width:700px;
	height:300px;
	background-color: rgba(0,0,0,0.6);
}

#bg-2{
	position:relative;
	top:48px;
	height:683px;
	width:100%;
	background-color:#f2b8bc;
	gap:75px;
}

#usluge{
	gap:70px;

}

.usluge{
	border:2px solid black;
	border-radius:px;
	padding:10px 15px;
	width:305px;
	height:325px;
}

.usluge h5{
	font-size:22px;
	padding:17px;
	text-transform:uppercase;
}

.usluge p{
	font-size:18px;
	margin:5px;
	
}

#os{
	font-size:30px;
	border-bottom-width:6px;
	border-bottom-style:inset;
	border-bottom-color:#000000;
}

#bg-3{
	position:relative;
	top:48px;
	height:683px;
	width:100%;
	background-color:#91b08b;
	color:#000000;
	gap:75px;
}

#utisci{
	gap:70px;
}

.utisci{
	border:2px solid #000000;
	width:305px;
	height:325px;
	padding:10px 15px;
}

.utisci img{
	margin:5px;
	
}
.utisci h5{
	padding:5px;
	font-size:22px;
	
}
.utisci p{
	margin:5px;
	font-size:18px;
}

#recenzija{
	
	font-size:30px;
	border-bottom-width:6px;
	border-bottom-style:inset;
	border-bottom-color:#000000;
}



.icon p{
	color:#ffffff;
}

.utisci span{
	font-weight:bold;
	
}

/* gallery*/

#bg-gallery{
	position:relative;
	top:48px;
	width:100%;
	height:1900px;
	background-color:#91b08b;
}
#slike{
	height:1900px;

}

.red img{
	padding:62px 43px;
}
/*.icon p{
	color:#ffffff;
}*/
/*contact*/
#sadrzaj-contact{
	position:relative;
	top:48px;
	background-color:pink;
	width:100%;
	height:683px;
	gap:60px;
}
#desno{
	gap:20px;
}

.tekst{
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-size:18px;
}

#form input{
	width:300px;
	height:40px;
	border:1px solid gray;
	padding-left:5px;

}
#form textarea{
	width:300px;
	height:80px;
	padding-left:5px;
	border:1px solid gray;
}
#form{
	gap:12px;
	font-size:20px;
}




#button{
	padding:9px 20px;
	background-color:#b0aeb3;
	border:1px solid black;
	margin-left:200px;
	color:#000000;
	
}
#kontakt-contact{
	color:#black;
	font-size:26px;
	font-weight:bold;
	margin-top:-40px;
	border-bottom-width:5px;
	border-bottom-style:inset;
	border-bottom-color:black;
	letter-spacing:1px;
	
}

#centar-contact{
	gap:110px;
	
}
#centar-contact img{
	width:620px;
}

/*author*/

#about-aut{
	position:relative;
	top:48px;
	width:100%;
	height:681px;
	background-color:#ffc0cb;
}


#sadrzaj-author{
	width:100%;
	height:500px;
	gap:150px;
	
}

#slika img{
	border:1px solid black;
	height:360px;
	
}

#tekst-author{
	
	width:400px;
	height:300px;
	gap:20px;
}

#tekst-author h3{
	font-size:23px;
}

#tekst-author p{
	font-size:20px;
}


#about-author{
	font-size:27px;
	margin-top:-20px;
	border-bottom-width:5px;
	border-bottom-style:inset;
	border-bottom-color:black;
	
}

/*footeer*/
#prvi{
	position:relative;
	top:48px;
	width:100%;
	height:350px;
	background-color:#000000;
	color:#ffffff;
	gap:180px;
	
}

#n-list{
	text-decoration:none;
	list-style-type:none;
}
#dr-mreze{
	width:250px;
	height:250px;
	margin-top:-35px;
}
#navig{
	width:250px;
	height:250px;
	gap:18px;
	font-size:16px;
	

}

.crta{
	background-color:#91b08b;
	width:110px;
	height:3px;
	margin-top:-15px;
}

.crta1{
	background-color:#91b08b;
	width:90px;
	height:3px;
	margin-top:-25px;
}

#n-list{
		gap:10px;
}
#cont{
	width:250px;
	height:250px;
	margin-top:-25px;
	
	gap:25px;
	font-size:16px;
}
#navig h4{
	font-size:18px;
}
#cont h4{
	font-size:18px;
}

#dr-mreze img{
	width:270px;
	margin-top:30px;
}

#nzm{
	gap:50px;
	font-size:25px;
	margin-top:-20px;
}

#info{
	gap:12px;
}

.info span{
	padding-left:10px;
}

#prava{
	position:relative;
	top:48px;
	width:100%;
	height:40px;
	background-color:#000000;
	color:#ffffff;
	font-size:12px;
	gap:100px;
}
#footer{
	width:100%;
	height:390px;
}

